*{margin:0; padding:0;}
body {
  background-image: url(imgs/index.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}
body.succ { background-image: url(imgs/on-login.png); }
body.reading { background-image: url(imgs/reading.png); }
body.read-emtpy { background-image: url(imgs/read-emtpy.png); }
html {
  width: 100%;
  max-width: 533px;
}
img{max-width: 100%; height: auto;}
.test{height: 600px; max-width: 600px; font-size: 40px;}

#form1 {
  font-size: 1.15em;
}
#form1 * {
  display: block;
  position: absolute;
}
#l-userid, #l-userpass {
  left: 24.6%;
  color: white;
  opacity: 0;
}
#l-userid, #userid { top: 68.5%; }
#l-userpass, #userpass { top: 74.2%; }
#userid, #userpass {
  left: 39%;
  color: black;
  font-weight: bold;
  height: 3.8%;
  margin-top: -0.8%;
  border: none;
  border-radius: 10px;
  padding: 0 1em;
  width: 34%;
}

#main-submit {
  opacity: 0;
  left: 34%;
  width: 32%;
  top: 80%;
  height: 5%;
}